@{ ViewBag.Title = "About"; }
<head>

</head>
<link rel="stylesheet" type="text/css" href="~/Content/about.css" />
<body>
    <div class="About_content">
        <h2>About Fun+ Design</h2>
        <div class="problem">
            <h4>The Problem for Social Isolation</h4>
            <p>
                According to a report by eSafety Commissioner(eSafety Commissioner, 2021),
                44% of Australian youths had negative online experiences,
                with 15% of those receiving threats of abuse online. In fact, Multiple studies have found a
                link between negative internet experiences or cyberbullying and social and emotional isolation amongst young adults (Magis-Weinberg et al., 2021; Primack et al., 2019).
                Social isolation amongst the youths results not only in various mental health issues, such as depression but also physical health issues,
                such as the risk of developing heart disease or even premature death (Hawkley & Cacioppo, 2010; Heinrich & Gullone, 2006). How should we connect the socially and emotionally isolated teenagers with collaborative and interactive activities, while incentivising them to create a positive internet environment?
            </p>
        </div>
        <div class="Team_introduction">
            <h3>Design Team</h3>
            <img src="../images/team_logo.png" />
            <h4>Colours to You and the Youths</h4>
            <p>
                Our mission is to create a fun and positive internet environment for the teens in Australia with art and laughter.
                Our website, FUN+, will connect the isolated youths in Australia with fun activities and interactions!
            </p>
        </div>
            <h3>If You Want To Get More, Please Follow the Link Below</h3>
            <a href="https://bit.ly/ColourYouS_FunPlus">Find More>></a>
        </div>
        <style>
            body {
                background-image: url(../images/background_3.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        </style>

</body>
