@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/home_page.css" />
</head>
<body>
    <div class="Home_content">
        <div class="Introduction">
            <h2>What is Fun+?</h2>
            <p>
                Fun & Creative way of writing positive messages
                Participate in our collective artwork project by
                reading funny jokes and writing positive messages!
            </p>
        </div>

        <div class="Introduction_back">
        </div>

        <div class="Fun_joke">
            <h3>Fun Joke</h3>
            <p>
                Every time you read and like a joke,
                you'll earn a randomly selected word.
                With the earned words, write positive
                messages and earn your tokens!
            </p>
            <h3>Messages</h3>
            <p>
                On Fun+, the writer and the reader of the messages
                all have a chance to reflect on what they wrote and read.
                If the reader likes your message,
                you'll get the tokens for more stickers.
                The more positive messages you send, the more tokens you earn!
            </p>
            <h3>Art Projects</h3>
            <p>
                With the earned tokens, buy the stickers for your art project!
                All the users of the website are assigned a collective art project.
                Make your artwork fun and colourful using the stickers you bought with the tokens!
            </p>

        </div>
    </div>
    <style>
        body {
            background-image: url(../images/background_2.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>
</body>