body{
  font-family: 'Love Ya Like A Sister', cursive;
    background-image: url('../../images/WechatIMG3051.png');
    background-size: cover;
    scroll-behavior: smooth;
}

h1{
  text-align:center;
  font-size: 40px;
  color:white;
}

h2{
  text-align:center;
  font-size: 30px;
  color:white;
  font-family: 'Rum Raisin', sans-serif;
  padding: 10px;
}

#backToGallery{
  border-radius: 20px;
  background: #FAFFAB;
  color: navy;
  position:absolute;
  top: 10px;
  left: 10px;
  outline: none;
  border: 3px solid navy;
  font-family: 'Rum Raisin', sans-serif;
  font-size: 18px;
  padding: 10px;
  cursor:pointer;
  transition: 0.2;
}

#backToGallery:active{
  transform: translateY(3px)
}

#galleryHolder{
 margin:auto;
 position: relative;
 z-index: 3;
}
#artworkDetail{
  font-size: 30px;
  font-family: 'Rum Raisin', sans-serif;
  text-align: center}

#artworkDetail>span{
  color: orange;
  font-size: 35px;
}

#gallery{
  background-color: rgba(255,255,255,0.9);
  margin:0;
  width: 100%;
  background-size: contain;
  padding: 10px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#chosenItemHolder{
    display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chosenArtwork{
  width: 850px;
  transition:0.3s;
  cursor:pointer;
}

#originalBg>button{
  outline: none;
  color: red;
  background:none;
  border:none;
  cursor: pointer;
  font-size: 20px;
}

#originalBg{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display:none;
  margin-top: 15px;
}

#originalBg>img{
  width: 850px;
  border: navy solid 5px;
  border-radius: 20px;
}

#textAppear{
  transition:0.3s;
  transition-delay:0.1s;
  text-align: center;
  opacity: 0;
  font-family: 'Rum Raisin', sans-serif;
  font-size: 20px;
  color: grey;
}

#chosenArtwork:hover + #textAppear {
  opacity: 1;
}

#chosenArtwork:hover{
  transform: scale(1.01);
  
}

#vote{
  text-align: center;
  color: pink;
  font-size: 30px;
  background: white;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  transition: 0.3 infinite;
  font-family: 'Rum Raisin', sans-serif;
}

#vote:hover{
  background: #E9ECEC;
  transform: scale(1.1);
  border: 3px solid pink;
  animation: upDown 0.4s linear infinite alternate;
}

#vote:active{
  transform: scale(1.2);
}

#voteInstruct{
  transition-delay: 0.3s
  margin-top: -0.1em;
 opacity: 0;
 width: 150px;
 padding: 10px;
 background-color: white;
 border: 3px solid pink;
 color: grey;
 border-radius: 20px;
 font-family: 'Rum Raisin', sans-serif;
 text-align: justify;
}

#vote:hover + #voteInstruct {
  opacity: 1;
}

@keyframes upDown{
      0% {transform: translateY(0);}
  100% {transform: translateY(5px);}
}


.wrapper div {
  z-index:-1;
    margin: 0;
  padding: 0;
  height: 80px;
  width: 80px;
  font-size: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 1s linear infinite;
  border-radius: 50%;
}

.wrapper div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
  background-color: #FFC0CB;
}
.wrapper div:nth-child(2) {
  top: 60%;
  left: 80%;
  background-color: #FBFFAB;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 40%;
  left: 40%;
  background-color: #FFC0CB;
  animation: animate 3s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 90%;
  left: 10%;
  background-color: #FBFFAB;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 30%;
  left: 60%;
  background-color: #FFC0CB;
  animation: animate 5s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 70%;
  background-color: #FBFFAB;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 75%;
  left: 60%;
  background-color: #B6FDFE;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 50%;
  background-color: #B6FDFE;
  left: 50%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 45%;
  left: 20%;
  background-color: #B6FDFE;
  animation: animate 10s linear infinite;
}
.wrapper div:nth-child(11) {
  top: 10%;
  background-color: #FFC0CB;
  left: 90%;
  animation: animate 9s linear infinite;
}
.wrapper div:nth-child(12) {
  top: 20%;
  background-color: #FBFFAB;
  left: 70%;
  animation: animate 7s linear infinite;
}
.wrapper div:nth-child(13) {
  top: 20%;
  background-color: #B6FDFE;
  left: 20%;
  animation: animate 8s linear infinite;
}
.wrapper div:nth-child(14) {
  top: 60%;
  background-color: #B6FDFE;
  left: 5%;
  animation: animate 6s linear infinite;
}
.wrapper div:nth-child(15) {
  top: 90%;
  left: 80%;
  background-color: #FBFFAB;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

.wrapper>div{
  z-index:0;
}