@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Time To Recycle!</h1>
    <img src="~/Resources/image1.jpg" width="1000" height="400" alt="HeadingImage">
    <p class="lead">
        Between 2017 and 2018, 9.4% of the plastic wastes were recovered in Australia. According to a report published by European Environmental Bureau (EEB), Australia has has a total recycling rate of 41%, ranked as 21st in the entire world. The country with the highest recycling rate, Germany, successfully recycled 66.1% of their total wastes, which is more than 1.5 times than that of Australia.

        As an international student residing in Victoria, the rules and laws for recycling in this country should be confusing

        - What waste categories are recognised in Australia?
        - What are the acceptable or unacceptable items for each waste category?
        - What type of waste is collected at what time in my suburb?
        This website is here to answer all your questions one by one! We are here to help you undestand how to recycle correctly during your studies in Victoria.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Resources/general.png" width="200" height="300" alt="HeadingImage">
        <h2>General Waste Bin</h2>
        <p>
            The general waste bin has a red-coloured bin lid in Australia. All the wastes in the general waste bin end up as landfill and are unfortunately not recoverable. The general waste, which ends up in landfill contamination, is one of the main contributor of green house gass emission in the current world.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Resources/recycle.png" width="200" height="300" alt="HeadingImage">
        <h2>Mixed Recyclables Bin</h2>
        <p>The mixed recycling bin has a yellow-coloured bin lid in Australia. The wastes in this bin are collected by recovery facility and are seperated into multiple material categories. It is crucial to rinse the recycling wastes before throwing them away in order to prevent contamination. Unfortunately, too much contamination will result in the whole batch of waste in the landfill!</p>
    </div>
    <div class="col-md-4">
        <img src="~/Resources/organic.png" width="200" height="300" alt="HeadingImage">
        <h2>Organic Waste Bin</h2>
        <p>The organic/green waste bin has a burgendy-coloured bin lid in Australia. All the wastes categorised into organic/green wastes can be made into composts for the farming indusry. Correctly identifying organic wastes is crucial in order not to contaminate the waste batch.</p>
    </div>
</div>