@{ ViewBag.Title = "About"; }
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" type="text/css" href="../Content/about.css"/>
</head>
<link rel="stylesheet" type="text/css" href="about.css" />
<body>
    <div class = 'title'>
  <img style = '  display: block;margin-left: auto;margin-right: auto; max-width:100%; max-height:300px; border-radius: 45px;' src="Screen Shot 2022-04-11 at 00.03.06.png" alt="" />
</div>
<div class= 'missionStatement'>
    <p>Our mission is to create a fun and positive internet environment for the teens in Australia with art and laughter.
    With our website, FUN+, we aim to connect the isolated youths in Australia with fun activities and interactions.</p>
</div>
<br>
<div name = 'meetOurTeam'>Meet Our Team</div>
<br>
<div class = 'meetOurTeam'>
    <div class = 'teamProfile', name = 'dk'>
        <img class = 'teamPic' src='../images/corgo.jpg'>
              <h2>Dahye Kim</h2>
        <h4>MASTER OF DATA SCIENCE</h4>
        <h4>COLLECTING, WRANGLING & MANAGING DATA</h4>
        <p>Data, data, data - that's what she thrives on. By using the most suitable open dataset, Dahye adds more fun and colours to the backend side of the project. After her double degree in business administration and Arabic from the ANU, she is now in her final semester at Master of Data Science at Monash University. 
        </p>
    </div>
    
        <div class = 'teamProfile', name = 'sw'>
        <img class = 'teamPic' src='../images/corgo.jpg'>
              <h2>ZiXiao (Sam) Wang</h2>
        <h4>MASTER OF IT</h4>
        <h4>Backend Development</h4>
        <p>Zixiao is the one making all the magic happen! As the Tech-mastermind of the team, he's the one making our FunPluS project come to reality. Majored in Software engineering and game design during his bachelor of IT at Monash, Zixiao is now the core of the team in his last semester of Master of IT at Monash University.
        </p>
    </div>
    
        <div class = 'teamProfile', name = 'xw'>
        <img class = 'teamPic' src='../images/corgo.jpg'>
              <h2>Xuewei (Shawn) Wang</h2>
        <h4>MASTER OF IT</h4>
        <h4>Frontend Development & UI Design</h4>
        <p>Art + Creativity = Xuewei. That's the fixed formula in ColourYouS. Combining his inspiration in art and his coding skill, Xuewei creates the front end of the webpage with his unique artworks. Xuewei studied Automation during his bachelor's degree in China, and now he's part of ColourYouS in his last semester in the Master of IT at Monash University. 
        </p>
    </div>
    
        <div class = 'teamProfile', name = 'lz'>
        <img class = 'teamPic' src='../images/corgo.jpg'>
              <h2>Liuming Zha</h2>
        <h4>MASTER OF Business InfoSys</h4>
        <h4>UI Design & Project Governance</h4>
        <p>The mastermind behind our project - that's Liuming! The most cheerful member of ColourYouS is responsible for the big picture and smooth process of the FunPluS project. Combining the knowledge she gained from her business bachelor's degree, Liuming is now the business acumen of ColourYouS in her last semester in Master of BIS at Monash University. 
        </p>
    </div>
</div>
</body>
