@model FIT5120_Onboarding_Project.Models.acceptables

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>acceptables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.binInfo.bin_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.binInfo.bin_color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.acceptable_items }) |
    @Html.ActionLink("Back to List", "Index")
</p>
