<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/156ced8b-ae15-4b0a-8119-382d8616022e/resourceGroups/FIT5120Onboarding/providers/Microsoft.Web/sites/FIT5120-OnboardingProject20220313171933</ResourceId>
    <ResourceGroup>FIT5120Onboarding</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fit5120-onboardingproject20220313171933.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fit5120-onboardingproject20220313171933.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FIT5120-OnboardingProject20220313171933</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FIT5120-OnboardingProject20220313171933</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FIT5120MyModel" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fit5120onboardingproject.database.windows.net,1433;Initial Catalog=FIT5120-OnboardingProject_db;User ID=sam@fit5120onboardingproject;Password=1234qwerA" Name="Data Source=tcp:fit5120onboardingproject.database.windows.net,1433;Initial Catalog=FIT5120-OnboardingProject_db;User Id=sam@fit5120onboardingproject;Password=1234qwerA" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FIT5120_OnboardingProject.Models.FIT5120MyModel, FIT5120-OnboardingProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FIT5120MyModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fit5120onboardingproject.database.windows.net,1433;Initial Catalog=FIT5120-OnboardingProject_db;User Id=sam@fit5120onboardingproject;Password=1234qwerA</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>